.navbar_content{
    margin-bottom: 3em;
}

.container-fluid{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.navbar_second_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title_content{
    width: 100%;
    margin-bottom: 5em;
}

.title_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:  0 auto;
    width: 40%;
}

.title_content_in_item_1{
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    margin-bottom: .5em;
}

.title_content_in_item_2{
    font-size: 1em;
    margin-bottom: 1em;
}

.card_content{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card{
    margin: 0px 2em;
    padding: 2em;
}